# =========================
# Build .NET
# =========================
bin/
obj/
out/
publish/

# Temp
_tmp_build/
bin_temp/
temp/
tmp/

# =========================
# Frontend
# =========================
node_modules/
dist/
build/
frontend/dist/

# =========================
# IDE
# =========================
.vs/
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Env
# =========================
.env
.env.*

# =========================
# Misc
# =========================
*.user
*.suo
*.cache